* {
    font-family: Arial, Helvetica, sans-serif; 
    background-color: rgb(252, 211, 211);
}

h1 {
    text-align: center;
}

h3 {
    color: purple; 
    text-indent: 10%;
}

p {
    color:green;
}

#menu {
    color: bisque;
    text-align: right; 
    background-color: rgb(109, 7, 7);
}


#menu h5 {
    color:black;
    
}

#menu a {
    color: bisque;
    a:hover {
        color:black
    }
    background-color: rgb(109, 7, 7);
}

#menu li {
    color: rgb(231, 146, 43);
}

#header {
    text-transform: uppercase; 
    color:blueviolet
}

li:hover {
    background-color:  rgb(255, 219, 219);
  }

.date {
    color:rgb(14, 14, 48)
}

.pp10-screenshot {
    border: 1px; border-style: solid; color: black;
}
