* {
    font-family: Arial, Helvetica, sans-serif; 
    background-color: rgb(187, 187, 186);
}

h1 {
    color:rgb(41, 32, 30)
    text-align: center;
}

h2 {
    color:rgb(56, 50, 40)
}

h3 {
    color: rgb(43, 34, 43);
}

p {
    color:rgb(29, 14, 54);
}

#menu {
    color: rgb(41, 32, 30);
    text-align: right; 
}


#menu a {
    color: rgb(59, 55, 55)
    a:hover {
        color:black
    }
    background-color: rgb(59, 55, 55);
}

#header {
    text-transform: uppercase; 
    text-align: center;
    color:rgb(46, 32, 3)
}

